<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trail.name %>
</p>

<p>
  <b>Address:</b>
  <%= @trail.address %>
</p>


<%= link_to 'Edit', edit_trail_path(@trail) %> |
<%= link_to 'Back', trails_path %>
